

<!-- <%= render 'form', line_item: @line_item %> -->


<div id="cat-list">
    <% Category.all.each do |cat|%>
        <li>
             <%= link_to cat.title, new_line_item_path(category: cat.title)%>
        </li>
    <%end%>
</div>

<div id="prod-list">
      <table id="products">
        <thead>
          <tr>
            <th>Producto:</th>
            <th>Precio:</th>
            <!--<th>Details</th>-->
            <th>Categoria:</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <%= render @products %>
        </tbody>
      </table>
    </div>